@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Henny+Penny&family=Poiret+One&display=swap');

* {
  margin: 0;
  padding: 0;
}

<<<<<<< HEAD
  a {
    color: #b1a526;
    text-decoration: none;
    transition: 0.3s;
    }
 
=======
body {
  background: linear-gradient(rgba(99, 22, 6, 0.212), rgba(100, 53, 39, 0.5)), url('../img/plaanodefundo/estacaonovemeio.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Bigelow Rules', serif;
}
>>>>>>> 9177fbc4549520cdce0950138d9a050a45e501e5

  a:hover {
    opacity: 0.7;
    text-decoration: underline;
  }
<<<<<<< HEAD

  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  h2{
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-family: Henny Penny, system-ui;
    font-size: 35px;
    color: #fff;
    }

  h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right:10%;

    text-align: center;
    font-family: Poiret One, system-ui;
    font-weight: normal;
    font-size: 18px;
    color: #fff;
  }
  
  body{
    background: url('/img/plaanodefundo/estacaonovemeio2\ -\ Copia\ \(2\).png');
    background-size: cover;
    background-position: center;
  }

  
 .logo1{
  height: fit-content;
  width: 185px;
  position: fixed;
  left: -5px;
  margin-left: 5%;
  margin-top: 18px;
  } /*essa é a foto  logo do site*/

  .topo {
  display: flex;
  justify-content: space-between;
  align-items: center;

    font-family:"Bigelow Rules", serif;
    backdrop-filter:  blur(5px);
    height: 20vh;
    padding: 0 20px;
    position: relative;
    z-index: 10;
  } /*esse é o cabeçalho*/
 
  .container { 
  flex-direction: column;
  align-items: center; 
  justify-content: center;

    width: 100%;
    height: auto;
    display: flex;
    margin-top: 15vh;
   } 

  form {
  display: flex;
  flex-direction: column;
  align-items: center;

    width: 450px;
    padding: 30px;
    border: 2px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-color: #b1a526;
    border-radius: 10px;
    backdrop-filter: blur(20px);
  }

  input {
  align-items: center;
  text-align: left;

    width: 85%;
    margin: 10px 0;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border-color: #fff;
    font-family: "Bigelow Rules", serif;
    font-size: 25px;
  } /*essas são as "caixinhas de texto" que pedem os dados*/

 .conta {
    margin-bottom: 8px;
    font-family: "Poiret One", sans-serif;
    font-weight: 600;
    font-size: 18px;
   }

  .botao{
    width: 90%;
   height: 30px;
   margin-top: 20px;
   margin-bottom: 5px;

    font-family: henny penny;
    background-color: #b1a526;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .nav-list {
    display: flex;
    list-style: none;
    gap: 50px;
    font-size: 36px;
  }
  

 
/*coloquei essa classe de cima pra editar o elemento em si fora da parte de Responsiividade do nav e menu*/
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
     flex-direction:column;
     align-items: center;
     justify-content: center;
     position: absolute;

     top: 20vh;
     right: 0;
     width: 35vw;
     height: 100vh;
     background: #3a0c03;
     backdrop-filter:  blur(15px);
     
      transform: translateX(100%);
      transition: transform 0.2s ease-in; 
      z-index: 999;
      visibility: hidden;
      opacity: 0;
    }

  .mobile-menu {
  position: absolute;
  right: 15px;

    display: block;
    cursor: pointer;
}

    .nav-list li {
      padding: 50px;
      margin-left: 0;
      opacity: 1;
    }

 .mobile-menu div{
  
  flex-direction: column;
    margin: 5px 0;
    width: 30px;
    height: 3px;
    background: #b1a526;
    transition: 0.3s ease;
  }
  
  .nav-list.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
 
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }

  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
}

.fundo{
  display: flex;
  justify-content: space-between;
  align-items: center;

    font-family:"Bigelow Rules", serif;
    backdrop-filter:  blur(5px);
    height: 20vh;
    padding: 0 20px;
    position: relative;
    z-index: 10;
=======
}
#span {
  color: #b1a526;
  font-family: 'Henny Penny';
  font-size: 22px;
>>>>>>> 9177fbc4549520cdce0950138d9a050a45e501e5
}